<app-header></app-header>
<div id="seller">
    <div class="container-fluid" id="vendorLogin">
        <div class="d-flex">
            <div class="leftSide">
                <div class="img position-relative">
                    <img src="assets/images/seller/img1.png" alt="">
                    <div class="h2 position-absolute">
                        <h2>
                            <span>Sell On</span> Azany
                        </h2>
                        <p class="text-white">Forgot Password</p>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div *ngIf="forPwdForm" class="vendorLogIn">
                    <h3>Forgot Password</h3>
                    <div class="forms">
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <div #userEl class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="text" class="form-control" [class.error]="(email?.touched && email?.invalid) || emailError" formControlName="email" placeholder="Enter Email Address">
                                <div *ngIf="email?.touched && email?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                                <div *ngIf="emailError" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>{{emailError}}</span></div>
                            </div>
                            <button *ngIf="!isSubmitting" type="submit" [disabled]="form.invalid" class="vendorPrimaryBtn">Verify Email</button>
                            <button *ngIf="isSubmitting" type="button" disabled class="vendorPrimaryBtn"><i
                                    class="fa fa-spinner fa-spin"></i></button>
                        </form>
                    </div>
                </div>
                <div *ngIf="comEmailForm" class="vendorLogIn">
                    <h3>Confirm Email</h3>
                    <div class="forms">
                        <div class="alert alert-success alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> A six digit code has been sent to your email. Enter the digit in the input field below
                        </div>
                        <form [formGroup]="formToken" (ngSubmit)="submitToken()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Token</label>
                                <input type="text" class="form-control" [class.error]="(token?.touched && token?.invalid) || tokenError" formControlName="token" placeholder="Enter Token Here">
                                <div *ngIf="token?.touched && token?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                                <div *ngIf="tokenError" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>{{tokenError}}</span></div>
                            </div>
                            <button *ngIf="!isSubmitting" type="submit" [disabled]="formToken.invalid" class="vendorPrimaryBtn">Confirm Token</button>
                            <button *ngIf="isSubmitting" type="button" disabled class="vendorPrimaryBtn"><i
                                    class="fa fa-spinner fa-spin"></i></button>
                        </form>
                    </div>
                </div>
                <div *ngIf="resetPassForm" class="vendorLogIn">
                    <h3>Reset Password</h3>
                    <div class="forms">
                        <form [formGroup]="formReset" (ngSubmit)="submitReset()">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" [class.error]="password?.touched && password?.invalid" formControlName="password" placeholder="Enter New Password">
                                <div *ngIf="password?.touched && password?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <div class="pasword position-relative">
                                    <input type="password" [class.error]="(retype_password?.touched && retype_password?.invalid) || notMatched" class="form-control" formControlName="retype_password" (keyup)="checkPass($event)" placeholder="Retype New Password">
                                    <span appPassToggle class="passwordShowIcon position-absolute fa fa-eye-slash"></span>
                                </div>
                                <div *ngIf="retype_password?.touched && retype_password?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span>
                                </div>
                                <div *ngIf="notMatched" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>Password not matched</span></div>
                            </div>
                            <button *ngIf="!isSubmitting" type="submit" [disabled]="formReset.invalid" class="vendorPrimaryBtn">Reset Password</button>
                            <button *ngIf="isSubmitting" type="button" disabled class="vendorPrimaryBtn"><i
                                    class="fa fa-spinner fa-spin"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="loginPage" class="authPageCont">
    <div class="leftSection">
        <h1>Continue your
            <span>Shopping</span>
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam convallis volutpat in turpis. Placerat fringilla felis, nisl, praesent imperdiet </p>
        <div class="userImgsCont d-flex align-items-center">
            <img src="assets/images/user.png" alt="">
            <img src="assets/images/user2.png" alt="">
            <img src="assets/images/user3.png" alt="">
            <img src="assets/images/user4.png" alt="">
        </div>
        <div>Join the 10k+ people who shop with us </div>
    </div>
    <div class="rightSection">
        <div *ngIf="forPwdForm">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <h2>Forgot Password</h2>
                <div class="gridCont">
                    <div class="formGroup">
                        <label for="name">Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter Email Address" formControlName="email">
                        <div *ngIf="email?.touched && email?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                        <div *ngIf="emailError" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>{{emailError}}</span></div>
                    </div>
                </div>

                <div class="btnTxtCont mt-5">
                    <button *ngIf="!isSubmitting" [disabled]='form.invalid' type="submit" class="submitBtn">Submit</button>
                    <button *ngIf="isSubmitting" type="submit" class="submitBtn"><i
                            class="fa fa-spin fa-spinner mr-2"></i> Submitting</button>


                    <div class="altAuth mt-5">
                        <a routerLink="/register">LOGIN</a> <span class="ml-3 mr-3">OR</span>
                        <a routerLink="/register">CREATE ACCOUNT</a>
                    </div>
                </div>
            </form>
        </div>


        <div *ngIf="comEmailForm">
            <form [formGroup]="formToken" (ngSubmit)="submitToken()">
                <h2>Confirm Email</h2>
                <div class="gridCont">
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button> A six digit code has been sent to your email. Enter the digit in the input field below
                    </div>
                    <div class="formGroup">
                        <label for="name">Token</label>
                        <input type="text" class="form-control" placeholder="Enter Token Here" formControlName="token">
                        <div *ngIf="token?.touched && token?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                        <div *ngIf="tokenError" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>{{tokenError}}</span></div>
                    </div>

                </div>

                <div class="btnTxtCont mt-5">
                    <button *ngIf="!isSubmitting" [disabled]='formToken.invalid' type="submit" class="submitBtn">Verify
                        Email</button>
                    <button *ngIf="isSubmitting" type="submit" class="submitBtn"><i
                            class="fa fa-spin fa-spinner mr-2"></i> Verifing Email</button>


                    <div class="altAuth mt-5">
                        <a routerLink="/login">LOGIN</a> <span class="ml-3 mr-3">OR</span>
                        <a routerLink="/register">CREATE ACCOUNT</a>
                    </div>
                </div>
            </form>
        </div>


        <div *ngIf="resetPassForm">
            <form [formGroup]="formReset" (ngSubmit)="submitReset()">
                <h2>Reset Password</h2>
                <div class="gridCont">

                    <div class="formGroup">
                        <label for="name">Password</label>
                        <input type="password" class="form-control" placeholder="Enter New Password" formControlName="password">
                        <div *ngIf="password?.touched && password?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                    </div>
                    <div class="formGroup">
                        <label for="name">Password</label>
                        <input type="password" class="form-control" placeholder="Retype New Password" formControlName="retype_password" (keyup)="checkPass($event)">
                        <div *ngIf="retype_password?.touched && retype_password?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>This field is required</span></div>
                        <div *ngIf="notMatched"><small class="errorDisp"><i class="fa fa-exclamation-circle"></i>
                                Password not matched</small></div>
                    </div>

                </div>

                <div class="btnTxtCont mt-5">
                    <button *ngIf="!isSubmitting" [disabled]='formReset.invalid || notMatched' type="submit" class="submitBtn">Reset Password</button>
                    <button *ngIf="isSubmitting" type="submit" class="submitBtn"><i
                            class="fa fa-spin fa-spinner mr-2"></i> Reseting</button>


                    <div class="altAuth mt-5">
                        <a routerLink="/login">LOGIN</a> <span class="ml-3 mr-3">OR</span>
                        <a routerLink="/register">CREATE ACCOUNT</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->