<!-- <div class="login_social">
    <button (click)="logInWithFacebook()" class="d-flex align-items-center cusFacebook">
        <span><i class="fa fa-facebook"></i></span>
        <span>Continue with Facebook</span>
    </button>
    <div id="fb-root"></div>
    <div scope="public_profile,email" (click)="logInWithFacebook()" class="fb-login-button" data-width="300" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
</div><br> -->
<a class="facebook" (click)="logInWithFacebook()" href="javascript:void(0)">
    <i class="fa fa-facebook"></i>
    <span>Login with Facebook</span>
</a>