<div id="cartSuccessCont" [class.cusShow]="addCartProdName">
    <app-add-cart-success [addCartProdName]="addCartProdName"></app-add-cart-success>
</div>
<app-home-page-load-placeholder *ngIf="contentLoading || bannerLoading"></app-home-page-load-placeholder>
<app-header [secondNav]="true"></app-header>
<div *ngIf="!contentLoading && !bannerLoading" class="bodyContainer">
    <section class="bannerSection">
        <div class="row">
            <div class="col-md-4 sideImages order-1 order-md-0">
                <div class="topImage mb-4">
                    <img class="w-100" src="{{treatImgUrl(bannerSlides?.banners?.banner_top)}}" alt="">
                </div>
                <div class="bottomImage">
                    <img class="w-100 h-auto" src="{{treatImgUrl(bannerSlides?.banners?.banner_bottom)}}" alt="">
                </div>
            </div>
            <div class="col-md-8 mb-4 mb-md-0">
                <div class="carouselCont">
                    <app-banner-carousel *ngIf="bannerSlides">
                        <div class="flexCont">
                            <div *ngFor="let slide of bannerSlides?.slides; let i = index" class="carouselItem">
                                <img class="w-100 h-100" src="{{treatImgUrl(slide?.banner)}}" alt="First slide">
                            </div>
                        </div>
                        <div class="carouselIndicators">
                            <div *ngFor="let ind of bannerSlides?.slides; let i = index" [class.cusActive]="i == 0"
                                class="indicatorItem"></div>
                        </div>
                        <a class="carouselCtrlPrev" href="javascript:void(0)">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carouselCtrlNext" href="javascript:void(0)">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </app-banner-carousel>
                </div>
            </div>

        </div>
    </section>

    <section class="threeGridAds">
        <div class="gridCont">
            <div *ngFor="let img of threeGridImg" class="gridItem">
                <img src="{{treatImgUrl(img?.banner_top)}}" alt="">
            </div>
        </div>
    </section>


    <section class="eachSection topCategories">
        <div class="headCont d-flex justify-content-center">
            <h4>Explore Popular Categories</h4>
        </div>
        <div class="bodyCont">

            <div class="gridCont">
                <a *ngFor="let cat of topCategories" routerLink="/category/{{cat?.category}}" class="eachCat">
                    <img class="w-100" src="{{treatImgUrl(cat?.banner)}}" alt="">
                    <div>{{cat?.title}}</div>
                </a>
            </div>
        </div>
    </section>

    <!-- <div *ngFor="let prod of ctry?.selectedPro" class="gridItem"> -->


    <section class="eachSection">
        <div class="headCont d-flex justify-content-center">
            <h4>Shop from usa</h4>
        </div>
        <div class="bodyCont">
            <div class="gridCont">
                <div *ngFor="let prod of recentAdded" class="gridItem">
                    <app-each-product [product]="prod" [currency]="currency" (favEv)="updateFav($event)"
                        [addingCart]="addingCart" (addCartEv)="addToCart($event)" [updatingFav]="updatingFav">
                    </app-each-product>
                </div>
            </div>
        </div>
    </section>

    <section class="eachSection">
        <div class="headCont d-flex justify-content-center">
            <h4>Shop from other countries</h4>
        </div>
        <div class="bodyCont">
            <div class="gridCont">
                <div *ngFor="let prod of deals" class="gridItem">
                    <app-each-product [product]="prod" [currency]="currency" (favEv)="updateFav($event)"
                    [addingCart]="addingCart" (addCartEv)="addToCart($event)" [updatingFav]="updatingFav"></app-each-product>
                </div>
            </div>
        </div>
    </section>

    <section class="eachSection">
        <div class="headCont d-flex justify-content-center">
            <h4>Recommended Products</h4>
        </div>
        <div class="bodyCont">
            <div class="gridCont">
                <div *ngFor="let prod of recommended" class="gridItem">
                    <app-each-product [product]="prod" [currency]="currency" (favEv)="updateFav($event)"
                    [addingCart]="addingCart" (addCartEv)="addToCart($event)" [updatingFav]="updatingFav">
                    </app-each-product>
                </div>
            </div>
        </div>
        <div class="headCont d-flex justify-content-center py-5">
            <a routerLink="/" class="live-btn bg-red">Load More Products</a>
        </div>
    </section>
    <section class="liveStreams eachSection">
        <div class="headCont d-flex justify-content-center">
            <h4>Live Streams</h4>
            <!-- <a routerLink="/" class="">See All Live Streams</a> -->
        </div>
        <div class="bodyCont">
            <div class="row">
                <div class="col-md-6">
                    <iframe *ngIf="mainVideo?.type == 'youtube'" width="100%" height="100%"
                        [src]="'https://www.youtube.com/embed/'+mainVideo?.url | safeUrl">
                    </iframe>
                    <video *ngIf="mainVideo?.type == 'local'" controls width="100%" style="border-radius: 10px;">
                        <source src="{{treatImgUrl(mainVideo?.url)}}">
                    </video>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 mb-0 mb-md-3" *ngFor="let vid of liveStream ; let i = index">
                            <iframe *ngIf="vid?.type == 'youtube'" width="100%" height="100%"
                                [src]="'https://www.youtube.com/embed/'+vid?.url | safeUrl">
                            </iframe>
                            <video *ngIf="vid?.type == 'local'" controls width="100%" style="border-radius: 10px;">
                                <source src="{{treatImgUrl(vid?.url)}}">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="headCont d-flex justify-content-center py-5">
            <a routerLink="/" class="live-btn">See All Live Streams</a>
        </div>
    </section>

</div>
<app-subscribe></app-subscribe>
<app-features></app-features>
<app-footer></app-footer>