<app-header></app-header>

<div id="authPage">
    <app-sidebar></app-sidebar>

    <main>
        <section class="headSection">
            <h1 class="pageTitle">Change Password</h1>
        </section>
        <section class="bodyPart">
            <div #phoneEl>
                <div *ngIf="message" class="alertWrap mb-4">
                    <p class="text-center mb-0 text-white"><i class="fa fa-times-circle mr-3 pointer" (click)="removeMessage()"></i> Password successfully changed</p>
                </div>
            </div>

            <div class="changeGender p-4" id="changeGender">

                <form [formGroup]="form" (ngSubmit)="submit()">

                    <div class="row mb-3">
                        <div #oldWrong class="col-xl-5">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" [class.error]="(old_pwd?.touched && old_pwd?.invalid) || oldPwdServerError" class="form-control def-input" placeholder="Current Password" id="old_pwd" formControlName="old_pwd">
                                <div *ngIf="old_pwd?.touched && old_pwd?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>Old password is required</span></div>
                                <div *ngIf="oldPwdServerError" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>{{oldPwdServerError}}</span></div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-5">
                            <div class="form-group">
                                <label>New Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control def-input no-bor-right" id="new_pwd" formControlName="new_pwd">
                                    <div class="input-group-append">
                                        <button class="btn btn-success vpButton" type="button" (click)="toggleNewPass()">
                                            <i class="fa fa-eye-slash" id="newPassIcon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="new_pwd?.touched && new_pwd?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>New password is required</span></div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-5">
                            <div class="form-group">
                                <label>Retype New Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control def-input no-bor-right" id="retype_new_pwd" formControlName="retype_new_pwd" (keyup)="checkPass($event)">
                                    <div class="input-group-append">
                                        <button class="btn btn-success vpButton" type="button" (click)="toggleRetPass()">
                                            <i class="fa fa-eye-slash" id="retypePassIcon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="retype_new_pwd?.touched && retype_new_pwd?.invalid" class="errorDisp"><i class="fa fa-exclamation-circle"></i><span>Please retype password</span></div>
                                <div *ngIf="notMatched"><small class="errorDisp"><i class="fa fa-exclamation-circle"></i> Password not matched</small></div>
                            </div>
                        </div>
                    </div>

                    <div class="buttonZone mt-5 mb-2">
                        <button *ngIf="!isSaving" [disabled]="form.invalid || notMatched" class="btn bg-3 pad-3 radius">
                                Submit
                        </button>
                        <button *ngIf="isSaving" disabled class="btn bg-3 pad-3 radius">
                                <i class="fa fa-spin fa-spinner"></i> Submitting...
                        </button>
                    </div>
                </form>
            </div>


        </section>
    </main>

</div>