$primary: #E21E2D;
$primaryDark: #bb1522;
$secondary: #000;
$deepBg: #D0C9DD;
$lightBg: #F4F4F4;
$smLightBg: #eeeeee;
$variantCol1: #624B8D;
$variantCol2: #E2D2FF;
$variantCol3: #354E79;
$variantCol4: #9c3987;
$variantCol5: #CC1666;
$variantCol6: #354E79;