<footer>
    <div class="watermark position-absolute">
        <img src="assets/images/watermark.png" alt="">
    </div>
    <div class="bodyContainer">
        <div class="topPart">
            <div class="row">
                <div class="col-md-3">
                    <div class="azanyInfo">
                        <a routerLink="/" class="logo">
                            <img src="assets/images/companyLogo.png" alt="">
                        </a>
                        <!-- <p>
                            {{settings?.site_description}}
                        </p> -->
                        <ul class="my-3">
                            <li><a href="javascript:void(0)">(800) 750-7442</a></li>
                            <li><a href="javascript:void(0)">Hello@shopazany.com</a></li>
                            <li><a href="javascript:void(0)">320 W Lanier Ave Suite 200, Fayetteville, GA 30214, USA</a></li>
                        </ul>
                        
                        <div class="socialCont">
                            <!-- <a *ngFor="let link of settings?.social_link" href="{{link?.link}}" class="eachSocial">
                                <i class="{{link?.icon}}"></i>
                            </a> -->
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="javascript:void(0)" class="eachSocial">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="gridCont">
                        <div class="gridItem">
                            <div class="eachLinkGrid">
                                <h4>Your Account</h4>
                                <!-- <ul>
                                    <li><a routerLink="/login">Login/Sign Up</a></li>
                                    <li><a routerLink="/seller">Sell on Azany</a></li>
                                    <li><a routerLink="/pages/refund-policy">Refund Policy</a></li>
                                    <li><a routerLink="/deals">Deals and Promos</a></li>
                                    <li><a routerLink="/customer-service">Help & Support</a></li>
                                </ul> -->
                                <ul>
                                    <li><a href="javascript:void(0)" >Order Status</a></li>
                                    <li><a href="javascript:void(0)" >Shipping & Delivery information</a></li>
                                    <li><a href="javascript:void(0)" >Terms & Conditions</a></li>
                                    <li><a href="javascript:void(0)" >Payment Methods</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="gridItem">
                            <div class="eachLinkGrid">
                                <h4>Customer Care</h4>
                                <!-- <ul>
                                    <li><a routerLink="/faq">FAQ</a></li>
                                    <li><a routerLink="/about">About Us</a></li>
                                    <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
                                    <li><a routerLink="/pages/seller-privacy-policy">Merchant's Privacy Policy</a></li>
                                    <li><a routerLink="/pages/terms-and-conditions">Terms and Conditions</a></li>
                                    <li><a routerLink="/pages/seller-terms-and-conditions">Merchant's Terms and
                                            Conditions</a></li>
                                    <li><a routerLink="/careers">Careers</a></li>
                                </ul> -->

                                  <ul>
                                    <li><a href="javascript:void(0)" >Help Center</a></li>
                                    <li><a href="javascript:void(0)" >How to Buy</a></li>
                                    <li><a href="javascript:void(0)" >Track Your Order</a></li>
                                    <li><a href="javascript:void(0)" >Corporate & bulk Purchasing</a></li>
                                    <li><a href="javascript:void(0)" >Returns & Refunds</a></li>
                                    <li><a href="javascript:void(0)" >Contact Us</a></li>
                                    <li><a href="javascript:void(0)" >Purchase Protection</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="gridItem">
                            <div class="eachLinkGrid reachUs">
                                <h4>Get to know us</h4>
                                <!-- <ul>
                                    <li>
                                        <a href="mailto:{{settings?.site_email}}">
                                            <span class="iconCont"><i class="fa fa-envelope"></i></span>
                                            <span>{{settings?.site_email}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:{{settings?.biz_phone}}">
                                            <span class="iconCont"><i class="fa fa-phone"></i></span>
                                            <span>{{settings?.biz_phone}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="iconCont"><i class="fa fa-map-marker"></i></span>
                                            <span>
                                                {{settings?.biz_addr}}, {{settings?.biz_city}}, {{settings?.biz_state}},
                                                {{settings?.biz_country}}
                                            </span>
                                        </a>
                                    </li>
                                </ul> -->
                           
                                <ul>
                                    <li><a href="javascript:void(0)" >Resources</a></li>
                                    <li><a href="javascript:void(0)" >Supplier Membership</a></li>
                                    <li><a href="javascript:void(0)" >Learning Center</a></li>
                                    <li><a href="javascript:void(0)" >Partner Program</a></li>
                                    <li><a href="javascript:void(0)" >Request for Quotation</a></li>
                                    <li><a href="javascript:void(0)" >Ready to Ship</a></li>
                                    <li><a href="javascript:void(0)" >Buyer Partners</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row justify-content-end pb-3">
            <div class="col-md-3">
                <div class="d-flex justify-content-between PaymentCont">
                    <a href="javascript:void(0)" class="eachPayment">
                        <i class="fab fa-cc-visa"></i>
                    </a>
                    <a href="javascript:void(0)" class="eachPayment">
                        <i class="fab fa-cc-mastercard"></i>
                    </a>
                    <a href="javascript:void(0)" class="eachPayment">
                        <i class="fab fa-cc-amex"></i>
                    </a>
                    <a href="javascript:void(0)" class="eachPayment">
                        <i class="fab fa-cc-paypal"></i>
                    </a>
                
                </div>
            </div>
        </div>
        <div class="copyrightCont">
            <div>Copyright © 2021. All rights reserved. <span class="d-none">Designed by <a
                        href="https://creativeweb.com.ng">Creativeweb</a></span></div>
            <div class="otherLinks">
                <a routerLink="/pages/terms-and-conditions">Terms & Condition</a>
                <a routerLink="/pages/privacy-policy">Privacy Policy</a>
                <a routerLink="/">Sitemap</a>
                <a routerLink="/pages/disclaimer">Disclaimer</a>
            </div>
        </div>
    </div>
</footer>