<section class="subscribeSection">
    <div class="bodyContainer">
        <div class="row">
            <div class="col-md-5">
                <h1>Stay home & get your daily needs from our shop</h1>
                <p>Start your'r Daily Shopping With <span >Azany</span></p>
                <form action="">
                    <div class="formCont">
                        <div class="icon"><img src="assets/images/gps.png" alt=""></div>
                        <input type="text" class="form-control" placeholder="Your Email">
                        <button type="submit" class="btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <img class="positionedBg" src="assets/images/newsletter.png" alt=""> -->
</section> 