<section class="subscribeSection">
    <div class="widthControl">
        <div class="row">
            <div class="col-md-7">
                <h1>Subscribe our Newsletters</h1>
                <p>Azany newsletter ensure that you are the first to know what's new with shopazany.com, plus get exclusive deals, insider tips, shopping and entertainment updates and more.</p>
                <form action="">
                    <div class="formCont">
                        <input type="text" class="form-control" placeholder="Your email">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img class="positionedBg" src="assets/images/email 1 (1).png" alt="">
</section>