@import '../../../../themes/colors.scss';
.featuresSection {
    margin-top: 80px;
    padding: 100px 0;
    background: $smLightBg;
    .gridCont {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 63px;
    }
    @media (max-width: 1100px) {
        .gridCont {
            grid-template-columns: repeat(2, auto);
        }
    }
    @media (max-width: 600px) {
        .gridCont {
            grid-template-columns: repeat(1, auto);
        }
    }
    .iconCont {
        margin-bottom: 23.5px;
    }
    h4 {
        color: #624bad;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    p {
        color: #15143966;
        max-height: 53px;
        overflow: hidden;
        position: relative;
        a {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 15px;
            color: $primary;
            font-weight: 500;
            padding: 5px 0 5px 5px;
            background: #eeeeee;
        }
    }
    p.more {
        max-height: unset;
        a {
            position: relative;
        }
    }
}