<app-header></app-header>

<div id="authPage">
    <app-sidebar></app-sidebar>

    <main>
        <section class="headSection">
            <h1 class="pageTitle">Reward Points</h1>
        </section>
        <section class="bodyPart">


            <div class="contact-section">
                <div class="row mt-2">
                    <div class="col-lg-7 col-md-12 mb-4">
                       <div class="reward-box">
                           <div class="centered">
                               <div class="intro">
                                   Your Reward Points
                                </div> 
                                <div class="reward-point-bg">
                                    <div class= "reward-point-text">
                                        1054
                                    </div>
                                </div>
                                <div class="level">
                                    Level: 3
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="col-lg-5 col-md-12 mb-4">
                        <div class="how-to-earn-box">
                            <div class="centered">
                                <div class="heading">
                                    How To Earn Reward Points
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </main>

</div>