<app-header></app-header>

<div id="authPage">
    <app-sidebar></app-sidebar>

    <main>
        <section class="headSection">
            <h1 class="pageTitle">Pending Review</h1>
        </section>
        <section class="bodyPart">

            <div *ngIf="!isLoading">
                <div class="itemsQty my-3 font-weight-bold mt-5">
                    {{pendingCounts}} item (s)
                </div>
                <div *ngIf="pendingCounts > 0">
                    <div *ngFor="let review of pendingReviews" class="d-flex justify-content-start orderWrap">
                        <div class="order-img-wrap">
                            <img src="{{review?.image}}" title="{{order?.name}}">
                        </div>

                        <div class="order-cont-wrap">
                            <h4 class="text_truncate order-name">{{review?.name}}</h4>

                            <p class="text-muted order-para">Sold By: {{review.sellerBusInfo?.biz_name}}</p>
                            <p class="text-muted order-para">Order Number: {{review?.order_number}}</p>

                            <div class="det-btn">
                                <a routerLink="/customer/pending-reviews/rate/{{review?.order_id}}">Write A Review</a>
                            </div>
                        </div>
                    </div>


                    <button *ngIf="pendingCounts > 0 && !isLoadingMore" (click)="loadMore()" [disabled]="pendingCounts <= pendingReviews.length" class="btn btn-primary btn-lg radius-btn-sm">Load more</button>

                    <button *ngIf="isLoadingMore" disabled class="btn btn-primary btn-lg radius-btn-sm"><i
                            class="fa fa-spin fa-spinner"></i> Loading...</button>
                </div>

                <div *ngIf="pendingCounts < 1">
                    <h4 class="text-center mt-5 mb-5">You have no pendig review</h4>
                </div>
            </div>

            <app-loading *ngIf="isLoading"></app-loading>


        </section>
    </main>

</div>